.cart__info-buttons {
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.cart__info-btn {
    width: 48px;
    height: 48px;
    background-color: #F14F4F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__info-btn:hover {
    cursor: pointer;
}

.cart__info-qty {
    width: 62px;
    height: 48px;
    background-color: #F6F6F6;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #444B58;
}