.faq {
    color: #FFFFFF;
    background-color:#484283 ;

    &__wrapper {
        padding: 35px 150px 67px 150px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 43.35px;
        text-align: left;
        margin-bottom: 27px;
    }
}



