
@import "/src/index.scss";

.catalog__product-button {
    width: 48px;
    height: 48px;
    background-color: #F14F4F;
    border-radius: 4px;
    transition: 0.5s linear;

    @include vp-767 {
        width: 32px;
        height: 32px;
    }
}

.catalog__product-button:hover {
    cursor: pointer;
    background-color: #8C2828;
}