.catalog-btn {
    width: 200px;
    height: 67px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.12px;
    text-align: left;
    border-radius: 4px;
    background-color: #F14F4F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-btn:hover {
    cursor: pointer;
}