.header {
    background-color: #484283;
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #FFFFFF80;

    &__logo {
        color: #FFFFFF;
        // font-family: Jost;
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
        text-align: left;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}