.footer {
    color: #FFFFFF;
    background-color: #444B58;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0 19px 0;
    }

    &__logo {
        font-size: 30px;
        font-weight: 700;
        line-height: 43.35px;
        text-align: left;
    }
}