@import "/src/index.scss";

.header__nav {
    font-size: 14px;
    font-weight: 600;
    line-height: 20.23px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    align-items: center;
    width: 200px;

    @include vp-767 {
        width: 100%;
        flex-direction: column;
    }
}

.header__cart {
    position: relative;
    transition: 0.5s linear;

    @include vp-767 {
        min-height: 32px;
        border-bottom: 1px solid #FFFFFF;
        width: 100%;
        display: flex;
        align-items: end;
    }
}

.header__cart:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #C4C4C4;
}

.header__cart-icon {
    transition: 0.5s linear;
}

.header__cart:hover .header__cart-icon {
    cursor: pointer;
    text-decoration: underline;
    color: #C4C4C4;
    filter: invert(30%);
}

.header__cart img {

    @include vp-767 {
        align-self: center;
    }
}

.header__cart-qty {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Jost;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    width: 12px;
    height: 12px;
    background-color: #F14F4F;
    border-radius: 50%;

    @include vp-767 {
        bottom: 4px;
        left: 36px;
    }
}

.header__nav-link {
    transition: 0.5s linear;

    @include vp-767 {
        min-height: 32px;
        border-bottom: 1px solid #FFFFFF;
        width: 100%;
        display: flex;
        align-items: end;
    } 
}

.header__nav-link:hover {
    cursor: pointer;
    color: #C4C4C4;
    text-decoration: underline;
}

.footer__nav {
    font-size: 14px;
    font-weight: 600;
    line-height: 20.23px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    align-items: center;
    width: 110px;
}